{% extends 'base.html' %} {% block content %}

<h1>{{bird.name}}</h1>


<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ bird.scientific_name }}</span>
                <img src="{{ bird.image }}" class="responsive-img" alt="n/a">
                <p>It has a size of {{ bird.size }}</p>
                <p>It has a wingspan of {{ bird.wingspan }}</p>
                <p>{{ bird.description }}</p>
                <div class="card-action">
                    <a href="{% url 'bird_update' bird.id %}">Edit</a>
                    <a href="{% url 'bird_delete' bird.id %}">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col s6">
        <form action="{% url 'add_feeding' bird.id %}" method="post">
            {% csrf_token %} {{ feeding_form.as_p }}
            <input type="submit" class="btn" value="Add Feeding">
        </form>
        <br />
        {% if bird.fed_for_today %}
        <div class="card-panel teal-text center-align">
          {{bird.name}} has been fed all meals for today
        </div>
        {% else %}
        <div class="card-panel red-text center-align">
          {{bird.name}} might be hungry
        </div>
        {% endif %}
        <table class="striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Meal</th>
                </tr>
            </thead>
            <tbody>
                {% for feeding in bird.feeding_set.all %}
                <tr>
                    <td>{{feeding.date}}</td>
                    <td>{{feeding.get_meal_display}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        default: new Date(),
        setDefaultDate: true,
        autoClose: true
    })

    var selectEl = document.getElementById('id_meal');
    M.FormSelect.init(selectEl);
</script>

{% endblock %}