{% extends 'base.html' %} {% block content %}

<h1 class="center-align">Birds</h1>

{% for bird in birds %}
<div class="row">
  <div class="col s12 m6">
    <a href="{% url 'detail' bird.id %}">
      <div class="card hoverable blue-grey darken-1">
        <div class="card-image">
          <img src="{{ bird.image }}" alt="n/a">
        </div>
        <div class="card-content white-text">
          <span class="card-title center-align">{{ bird.name }}</span>
        </div>
    </a>
  </div>
</div>

{% endfor %} {% endblock %}